.App {
  text-align: center;
}

.app__form{
  padding: 4px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #a6a6b3;
  width: 100%;
  margin: 2px;
  
}

.app__formcontrol{
  display: flex !important;
  flex-direction: row !important;

}

.imgsize{
  margin-top: 5px;
  height: 50px;
  width: 50px;
}

.app__iconbtn{
  flex: 0;

}

.app__input{
  flex: 1;
}